.navbar .navbar-brand {
  font-weight: bolder;
  }
  
.navbar .navbar-nav .nav-item {
     padding: 5px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: cornsilk ;
    font-weight:600;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
  background: rgb(229, 225, 233)  ;
  border-radius: 5px;
  color:black;
}

.navbar .navbar-nav .nav-item  .dropdown .btn{
  color: cornsilk ;
  font-weight:600;
  margin-top: 2px;
}

.title{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    text-align: center;
    text-decoration: double;
    color:rgb(21, 44, 76);
    font-size: 30px;
}

